.heading-run{
    color: rgb(73, 73, 146);
    text-align:center;
    margin-top:1rem;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.input-box{
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    width: 38rem;
    height: 28rem;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.query-box{
    background-color: rgb(102 79 126 / 1);
    border: 1.3px solid;
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: 4%;
    margin-right: 1%;    
    box-shadow: 8px 8px 23px black;
}
.query-btn
{
    margin-left: 25% !important;
    margin-bottom: 2.5rem;
    color: black;
    border:2rem;
    font-size: 1.5rem;
    width: 5rem;
    border-radius: 8px;
}
.pannel{
    width: 50%;
    float: left;
}
.dragbar{
    padding: 6px;
    cursor: col-resize;
    background-color: silver;
}
.table-box{
    background-color: rgb(255, 255, 255);
    border: 44px solid white;
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: 4%;
    margin-right: 1%;    
    box-shadow: 8px 8px 23px black;
    height: 37.3rem;
    width: 40rem;
    overflow: scroll;
}
.else-condition{
    text-align: center;
    width: 38rem;
    opacity: 50%;
}
