<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select table</title>
    <link rel="stylesheet" href="table.css">
</head>
<body>
    <form action="">
        <ul class="table-list">

            <div >
            <li>
                <input  type="radio" name="customers" value="customer">Customer<br>
    
            </li>
            </div>

            <li>
                <input type="radio" name="customers" value="customer">Application<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Quote<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Insurance Policy<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Premium_Payment<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Vehicle<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Claim<br>
    
            </li>
            <li>
    
                <input type="radio" name="customers" value="customer">Claim_Settlement<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Staff<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Department<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Office<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Membership<br>
    
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Vehicle_Service<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Nok<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Insurance Company<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Policy Renewable<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Incident<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Incident Report<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Coverage<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Product<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Receipt<br>
            </li>
            <li>
                <input type="radio" name="customers" value="customer">Insurance Policy Coverage<br>
            </li>
        </ul> 

        <input class="btn" type="submit" value="Submit">

    </form>
    
</body>
</html>