body {
    margin: 0;
    background: #181824;
    font-family: Arial;
  }
  #pricing
  {
    padding: 100px;
  }
  .price-text {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: bold;
  }
  .pricing-column
  {
    padding: 3% 2%;
  }
